<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item"><%= link_to "Hotel Listings Manager", hotel_listings_manager_path %></li>
    <li><%= link_to "Manage Room Numbers", hotel_listings_manager_room_numbers_path %></li>
  </ol>
</nav>
<h1>Manage Room Numbers</h1>
